<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>RahulGahlot.me</title>
  </head>
  <body style="background-color:black">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#"><!-- <img src="link to your logo" alt="LOGO Missing"> --> RahulGahlot.me</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- Put the link to your Contact page here -->
          <a class="nav-item nav-link active" href="mailto:gahlot.rahul@hotmail.com">Contact Us</a>
        </div>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <!-- Put the link to your resume here -->
          <a class="nav-item nav-link active" href="https://drive.google.com/open?id=1ZyD0myughsbBjKkKUH_NAkxx2igO38Ml">Resume</a>
        </div>
      </div>
    </nav>

    <div class="container-sm">
    <div class="jumbotron" style="background-color:black">
        <div class="text-center">

        <img src="https://media-exp1.licdn.com/dms/image/C4E03AQEFVWTuppX2gQ/profile-displayphoto-shrink_200_200/0?e=1586995200&v=beta&t=hPs6C4j25DrMabWYdAq4cqgZUFJtbbEJ98A81R-6Q2g" alt="Image missing" class="rounded-circle">
        <div class="container-sm">
          <h1 class="display-4" style="color:white">Rahul Gahlot</h1>
          <p class="lead" style="color:white">Endeavoring data scientist |  Python Developer | R Developer  </p>
        </div>

      </div>
    </div>
    </div>




    <div class="jumbotron" style="background-color:white">
      <div class="container">
        <ul class="nav" style="background-color:black">

          <li class="nav-item" >
            <a class="nav-link active" href="blog" style="color:white">Blog</a>
          </li>

          <li class="nav-item"  >
            <a class="nav-link" href="reading" style="color:white" >Reading</a>
          </li>

          <li class="nav-item" >
            <a class="nav-link" href="about" style="color:white">About</a>
          </li>

        </ul>
      </div>


    <div class="container">
      <p class="display-4" style="color:black">Projects</p>
      <ul class="list-style-type:none">

        <div class="shadow-lg p-3 mb-5 bg-light rounded">
          <a href="https://github.com/starinfinity/Portfolio-Website-using-Django" style="color:black"><p class="h3">Portfolio-Website</p></a>
          <p class="lead" style="color:black">Portfolio Website using Django Framework</p>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
          <a href="https://github.com/starinfinity/Map-reduce" style="color:black"><p class="h4">Map-Reduce(Hadoop)</p></a>
          <p class="lead" style="color:black">Data Analysis Using Map-Reduce on HDFS</p>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-light rounded">
          <a href="https://github.com/starinfinity/Data-Analysis-Sparkio-Basic-Bootstrap" style="color:black"><p class="h4">Map-Reduce(Apache Spark)</p></a>
          <p class="lead" style="color:black">Data Analysis using Apache Spark </p>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-light rounded" >
          <a href="https://github.com/starinfinity/Docker-and-data" style="color:black"><p class="h4">Docker</p></a>
          <p class="lead" style="color:black">Using Docker to Autheticate itself, fetch and Analyse data</p>
        </div>
        <div class="shadow-lg p-3 mb-5 bg-light rounded" >
          <a href="https://github.com/starinfinity/Monte-Carlo-Method" style="color:black"><p class="h4">Monte-Carlo-Method</p></a>
          <p class="lead" style="color:black">Monte Carlo Method implementation and Explanation</p>
        </div>

   </ul>
   </div>
   </div>

         <nav class="navbar sticky-bottom" style="bg:black">

          <div class="">
             <a href="https://github.com/starinfinity" ><img src="https://avatars1.githubusercontent.com/u/9919?s=200&v=4"  alt="Github" width="32" height="32"></a>
             <a href="https://www.linkedin.com/in/gahlotrahul/"><img src="https://content.linkedin.com/content/dam/me/business/en-us/amp/brand-site/v2/bg/LI-Bug.svg.original.svg" class="img-fluid" width="32" height="32" alt="in" ></a>
             <a href="https://www.instagram.com/rahul.gahlot/" ><img src="https://instagram-brand.com/wp-content/uploads/2016/11/Instagram_AppIcon_Aug2017.png?w=300" class="img-fluid" width="32" height="32" alt="IG" ></a>


          </div>
          <a href="mailto:admin@rahulgahlot.me" style="color:white">Email me</i></a>
           <p style="color:white">Copyright (c) 2020 Rahul Gahlot</p>
         </nav>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
